name: Release
on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Release
    uses: ./.github/workflows/build-ghcr.yaml
    secrets: inherit
    permissions:
      contents: read
      packages: write
