name: Release
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build'
        required: true
        default: 'latest'
        type: string

jobs:
  release:
    name: Release
    uses: ./.github/workflows/build-ghcr.yaml
    secrets: inherit
    permissions:
      contents: read
      packages: write
